<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IB Feed Handler Doc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>IB Feed Handler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A6CFC951A7DEFD0007C4802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A6CFC9E1A7DF1E8007C4802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A6CFCB81A7DF306007C4802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A6CFCD41A7DF4DC007C4802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A6CFCDB1A7DF583007C4802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
