CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
bin
!bin/.gitkeep
build
!build/.gitkeep
third_party/ib/IBJts/samples
third_party/ib/IBJts/source/JavaClient
*.xcodeproj
*.build
*.DS_Store